html{
    scroll-behavior: smooth;
    overflow-y: scroll !important;
}

body{
    margin: 0%;
    font-family: 'Noto Sans', sans-serif;                
    color:#2f3732;
    background-color: white;
    overflow-x: hidden;
}

.title{
    position: relative; 
    float: left; 
    width: 80%; 
    color:rgb(142, 128, 104);
    min-height:fit-content !important;
    margin-bottom: 5%;
    
}

.spazioSXVuoto {
    width: 90%; 
    color:rgb(142, 128, 104);
    min-height: fit-content;
    text-align: center;

}

.title h3{
    margin-left: 10%;
    text-align: left;
}

 html::-webkit-scrollbar{
    background-color: #1c1018c7;
    opacity: 0.2;    
    width: 10px;
} 

html::-webkit-scrollbar-thumb{
    background-color: #6153CC;
    border-radius: 25px;

}


/*costruzione header*/

.header {
    height: 100%;
    width: 75%;
    margin-left: 12%;
    text-align: center;
    position: relative;
    z-index: 0;
}


.contenitore_dietro{
    position: absolute;
    background-color: #1C1018;
    width: 100%;
    height: 150%;
    z-index: -3;
}

#punt {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }



.sfondo{
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25%;
    /*background-image: url("../image/HEADER_finestreViola.png");*/
    height: 90%;
    background-attachment: fixed;
    animation: slide 10s both;
    z-index: 0;
}


.parolaNome {
    display: inline-flex;
    flex-wrap: nowrap;
}

/*
@keyframes slide{
    0%{
        background-image: url("../image/HEADER_vuoto.png");
    }
    25%{
        background-image: url("../image/HEADER_finestreViolaScritte.png");
    }
    50%{
        background-image: url("../image/HEADER_finestre_AzzurroScritte.png");
    }
    90%{
        background-image: url("../image/HEADER_finestraScritte.png");
    }
    100%{
        background-image: url("../image/HEADER_vuoto.png");
    }
}
*/




/* la freccia in giù con movimento oscillatori */



#frecciamovimento{
    -webkit-animation: suEgiu 1.2s infinite;
    -moz-animation: suEgiu 1.2s infinite;
    -o-animation: suEgiu 1.2s infinite;
    animation: suEgiu 1.2s infinite;
}

@keyframes suEgiu {
    0%{
        transform: translateY(40px);
    }
    
    50%{
        transform: translateY(60px);
    }
   
    100%{
        transform: translateY(40px);
       
    }
}


/*creazione della nav con gli argomenti di cui so qualcosa*/
.nav{
    width: 100%;
    position: fixed;
    bottom: 0 !important;
    height: 10%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    background-color: #1C1018;
    z-index: 1 !important;
}

.nav2 {
    display:flex;
    justify-content: center;
    opacity: 0.6;
    height: 10vh;
}

.nav2:hover {
    opacity: 1;
}

.fixed {
    position: fixed;
    top:0;
    z-index: 1;
}

.nav a {
    color: #e6dade;
    text-decoration: none;
    opacity: 1;
}

.nav-link {
    padding: 2% 5%;
    font-weight: 200;
    font-family: 'Kanit', sans-serif;
}

.nav-link:hover {
    background-color: white;
    color: black;
    font-weight: 200;
    opacity: 0.9;
}

.nav-link:focus {
    background-color: rgba(214, 180, 105, 1);
    color: white;
    font-weight: 600;
    opacity: 1;
}

/*.nav.scrolla{
    background-color: white;
    background-color: #1c1018e7;

    -webkit-box-shadow: 0px 3px 53px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 53px -28px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 53px -28px rgba(66, 68, 90, 1);
} */


@keyframes SXaDX {
    0%{
        transform: translateX(-40px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(40px);
    }
    70%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(-40px);
    }
}

/* Firefox 
.nav {
    scrollbar-color: #FBFDFA #131313;
  }*/
  
  /* Chrome, Edge and Safari
  .nav::-webkit-scrollbar {
    height: 6px;

  }

  .nav::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #131313;
  }
  
  .nav::-webkit-scrollbar-track:hover {
    background-color: #131313;
  }
  
  .nav::-webkit-scrollbar-track:active {
    background-color: #131313;
  }
  
  .nav::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fbfdfa22;
  }
  
  .nav::-webkit-scrollbar-thumb:hover {
    background-color: #86cf74;
  }
  
  .nav::-webkit-scrollbar-thumb:active {
    background-color: #4f825d;
  }
  

  .nav::-webkit-scrollbar-button:end:decrement {
    width: 15%;
    display: block;
    background: transparent;
  
  }
  .nav::-webkit-scrollbar-button:start:increment {
   width: 15%;
    display: block;
    background: transparent;
  
  } */





.contenitoreInfo {
    position: relative;
    overflow: auto;
    background: #f8f8f8;
    border-radius: 2px;
    padding-left: 1%;
    padding-top: 3%;
}

.contenitoreInfo2 {
    position: relative;
    top: 0px;
    left: 3%;
    width: 84% ;
    height: 100%;
    overflow: auto;
    background: #f8f8f8;
    border-radius: 2px;
    padding: 4%;
    padding-top: 8%;
}



#contenitore2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: #0057e3;
}
#contenitoreInfo::-webkit-scrollbar {
    background: transparent;

}

/*#contenitoreInfo::-webkit-scrollbar-track {
    border: 2px solid white;
}

#contenitoreInfo::-webkit-scrollbar-thumb {
    background-color:#63A375;
    height: 10px;
    clip-path: polygon(46% 100%, 100% 59%, 100% 0%, 1% 0%, 0 61%);
}*/

#ombra {
    position: absolute;
    left: 10%;
    top: 0px;
    z-index: -1;
    width: 80%;
    height: 80%;
    background: #ffffff;
    -webkit-box-shadow: 0px -7px 48px 0px rgba(0, 0, 0, 0.784); 
    box-shadow: 0px -7px 48px 0px rgba(0, 0, 0, 0.808);
    z-index: -1;
}


*{
    padding: 0;
    margin: 0;
}


.container{
    transition: all 0.7s ease;
    background-position: center;
    background-size: cover;
    overflow:visible;
    width: 29% !important;
    position: relative;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    z-index: 0;
}


.content-section{
    display: flex;
    flex-wrap: wrap;
}

#spazioVuoto{
    width: 100%;
    height:10%;
}

#spazioVuotoAmpio{
    width: 80%;
    height:10%;
    padding: 5%;
}

.anti-container{
    position: static;
    width: 90%;
    margin-bottom: 1.5%;
    margin-left: 5%;
    text-align: center;
}

h4{
    margin-bottom: 10%;
}

.container #immagineCarat{
    height: 37%;
    width: 100%;
    transition: all 0.4s ease;
    position: relative; 
            left: 0%; 
         
}

.container #immagineCarat:hover{
    height: 45%;
    width: 110%;
    text-align: center;
    position: relative; 
    left: -7%;
    right: 5%; 
    
}



.contenuti{
    width: 75%;
    padding-right: 0%;
    padding-bottom: 20%;
    padding-top: 3%;
    position: relative;
    float: left;
    word-break: keep-all;
    flex-wrap: wrap;
    word-wrap: normal; 
}

.titoloNome {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

h1{
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-size: 90px;
  color:rgba(214, 180, 105, 1);
  font-style: normal;
  flex-wrap: wrap;
}

h1 span {
    display: inline-block;
}

#e:hover, #e:hover  ~ #l, 
#l:hover  ~ #e, #l:hover, #l:hover  ~ #i,
#i:hover  ~  #l, #i:hover, #i:hover  ~ #s, 
#s:hover, #s:hover ~ #a,
#s1:hover, #s1:hover  ~ #o,
#o:hover, #o:hover  ~ #r, 
#r:hover, #r:hover  ~ #r2, 
#r2:hover, #r2:hover  ~ #i2, 
#i2:hover, #i2:hover  ~ #r2,
#a:hover {
            color: white;
}


span{
    padding: -2%;
    margin: -1%;
    transition: color 0.3s ease-in-out;
}
.hovered {
    color:white;
}


h2{
    font-family: 'Amaranth', sans-serif;
    background: #f2a705;
    background: linear-gradient(90deg, rgba(242, 167, 5, 1) 0%, rgba(235, 183, 70, 1) 50%, rgba(214, 180, 105, 1) 100%);    background-clip: text;
    font-size: 32px;
    color: transparent;
    text-align: left;
    z-index: 3;
    letter-spacing: 1.4;
    padding-top: 3%;       
}

/*
.container:hover h2, h2:hover{
    color: rgb(177, 149, 88);
        text-shadow:
                1px -2px 0 white,
                2px -2px 0 white,
                -2px 2px 0 white,
                1px 1px 0 white;

    } */

h3{
    text-align: center; 
    padding: 2%; 
    font-family: 'Kanit', sans-serif; 
    font-size: 40px;
    color:whitesmoke;
    font-weight: 100;
}

h4{
    font-size: 30px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 27px;
    font-weight: 100;
}


.categoriaFont{
    font-size: 18px;
    color:#a89e66;
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 4%;
    font-weight: 300;
}

.parolaChiaveTitolo{
    color: brown;
    margin: 0%;
    font-size: 16px;
    word-spacing: 0.3em;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

strong{
    color: #86cf74;
    font-size: x-large;
    padding-left: 1%;
    padding-right: 1%;
}

#neon{
    font-family: 'Neonderthaw', cursive;
            color:#e60080;
            font-size:2rem;


    text-shadow: 
    .1vw 0vw .25vw #ffd8d8, .1vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
    .0vw 0vw   1vw #ff0b91, .0vw 0vw   1vw #ff0ca2;
  }

/*creazione aspetto icona more*/
.icona_more{
    position: relative;
    margin-top: 10%;
    margin-left: 0%;
    float: left;    
    width: 9%; 
    height: 17%;   
    padding: 0%;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    transform: rotate(0deg);
}

/*
#icona_more:hover{
    background-color: blueviolet;
    transform: rotate(90deg);
}*/


.immagineallhover{
    position: absolute;
    top:0;
    left:0;    
    opacity: 0;
    transition: all 0.7s ease;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    background-color:#f8f8f8;
}

.container:hover{
    box-shadow:  7px 7px 14px #d0d0d0,
             -7px -7px 14px #ffffff;
} 

.container:hover .immagineallhover{
    opacity: 1;
}

.immagineallhover:hover{
    box-shadow:  7px 7px 14px #d0d0d0,
             -7px -7px 14px #ffffff;
}

/* animazione icona di chiusura del div maggiori informazioni*/
.icona_chiusura{
    padding: 0.4%;  
    margin-top: 2%;    
    position: relative;
    float: left;
    background-color:#f8f8f8;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    transform: rotate(0deg);
}

.icona_fissa{
    position: fixed;
    background-color: #f2a705;
    bottom: 2%;
    right: 2%;
    padding: 0.5%;
    border-radius: 200px 200px 200px 200px;;
}

.moreInfo:hover .chiusuraDiv{
    opacity: 1;
   
}

.chiusuraDiv:hover{
     box-shadow:  7px 7px 14px #4f825d,
             -7px -7px 14px #4f825d;
}

.chiusuraDiv{
    position: absolute;
    top:0;
    left:0;
    bottom:0%;
    padding: 7%;
    opacity: 0;
    transition: all 0.7s ease;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    background-color:#f8f8f8;
}


/* far apparire un div informtivo "leggi di più" */

.dettagli {
    opacity: 1;
    width: 27%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: #e2b963;
    transition: all 0.7s ease;
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    color: white;
    text-align: left;
    margin-left: 73%;
    margin-top: 0%;
    font-size: 11px;
    position: relative;
    font-weight: 600;
}

.categoria{
    position: relative;
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-family: 'Kanit', sans-serif; 
    font-size: 15px;
    color:#B48291;
}

.container:hover .dettagli{
    opacity: 1;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background-color: rgb(186, 157, 92);
    font-weight: 400;
}




.moreInfo{
    background-color: #1C1018;
    width: 100%;
    opacity:1;
    transition: all 0.7s ease;
    display: none;
    z-index: 1;
    border-top: 2px solid wheat;
    padding-bottom: 30%;
}

#moreInfo1,#moreInfo2,#moreInfo3,#moreInfo4, #moreinfo5, #moreinfo6, #moreInfo7, #moreInfo8 {
    position: absolute;
    top:101.5%;
    left:0;
}
    

/*stile contenuto estetico maggiori informazioni*/

.containerMagInfo{
    clear: left;
    margin: 8%;
}
.testoMagInfo, .imgMagInfo, .img{
    background-size: contain;
    width: 100%;
    margin-top: 2%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    }

    .imgMagInfo{
    width: 100%;
    border-width: thick;
    border-style: ridge;
    border-radius: 10px;
}

    .testoMagInfo{
        position: relative;
        float: left;
        width: 49%;
        margin-right: 1%;
        margin-bottom: 1%;
        
    }

    .testoMagInfoDestra{
        position: relative;
        float: right;
        width: 49%;
        margin-right: 1%;
        margin-bottom: 1%;
        margin-top: 2%;
        
    }
    
   

    .testoSx{
        margin-left: 4%;
        margin-top: 10%;
        color:white;
    }

    .testoMISecondario{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: large;
        text-align: justify;
        color: #000000;
        font-size: 21px;
        word-wrap: break-word;
        text-justify: inter-word;
        word-break: normal;
        padding-top: 5% !important;
        line-height: 2em;
    }

    .moreInfo::-webkit-scrollbar-thumb{
        background-color: #2f3732;
    }
    .moreInfo::-webkit-scrollbar {
        background-color: #63A375;
    }


.img{
    border: 4px solid white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.imgDestra{
    margin-left: 5%;
    margin-right: 5%;
    width: 45%;
    height: 45%;
    padding: 1% 4%;
    background-color: white;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
}


.distrOrizzontale{
    float: left;
    width: 45%;
    margin-right: 1%;
}


.linkMoreInfo{
    color: #63A375;
    font-weight: bold;
}

.linkMoreInfo:hover{
    color: rgb(195, 175, 144);
}


/*Animazione che fa comparire elementi*/
.fadeInTop{
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both;
}

@keyframes fadeInTop { 
    0%{
        opacity: 0;
        transform: translateY(25%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInTop {
    0%{
        opacity: 0;
        -webkit-transform: translateY(25%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInTop {
    0%{
        opacity: 0;
        -moz-transform: translateY(25%);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInTop {
    0%{
        opacity: 0;
        -o-transform: translateY(25%);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}








/*Animazione che fa scomparire elementi*/

.fadeInDown{
    -webkit-animation: fadeInDown 4s both;
    -moz-animation: fadeInDown 4s both;
    -o-animation: fadeInDown 4s both;
    animation: fadeInDown 4s both;
}

@keyframes fadeInDown {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(100%);
    }
}

@-webkit-keyframes fadeInDown {
    0%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes fadeInDown {
    0%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
    100%{
        opacity: 0;
        -moz-transform: translateY(100%);
    }
}

@-o-keyframes fadeInDown {
    0%{
        opacity: 1;
        -o-transform: translateY(0);
    }
    100%{
        opacity: 0;
        -o-transform: translateY(100%);
    }
}


/*box che contengono info approfondimento*/

.box{
    padding: 3%;
    height: 50%;
    width: 92%;
    font-size: large;
    line-height: 1.8;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10%;
}

.singolo{
    text-align: justify !important;
    padding-left:6%;
    padding-right: 6%;
    width: 86%;
    border-bottom: 2px dotted rgb(158, 157, 157);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400;
  font-style: normal !important;
}

.divisione{
    display: flex;
    flex-direction: row;
    border-bottom: 2px dotted rgb(158, 157, 157);
}

.divisione2 {
    display: flex;
    flex-direction: row;
}

.sezioniUguali{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 94%;
    padding-top: 15%;
}

.testoMIPrincipale{
    margin-bottom: 2%;
    color: #E0E5E3;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
            word-break: normal !important;
            overflow-wrap: break-word;
            white-space: normal;
    padding-top: 5%;
    padding-bottom: 0%;

}

.testoMIPrincipale strong {
        color:#a398f7;
        box-sizing: border-box;
        cursor: pointer;
        transition: opacity 200ms;
        position: relative;
        z-index: 4 !important;
        width: 100%;

}

/*.moreInfo:hover .testoMIPrincipale strong:not(:hover){
    filter: none;
}*/


#bigCursor {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(214, 180, 105, 1);
  pointer-events: none;
  z-index:-1 !important;
}

#bigCursor2 {
  position: fixed;
  width: 150px;
  height: 30px;
    background-color: #fdfd96;
  pointer-events: none;
  z-index: 0 !important;
}


#cerchio {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  z-index: -2 !important;
  }

        .lucivolanti{
            position: absolute;
              width:10px;
              height: 10px;

            animation: caduta 2.5s linear infinite;
            border-radius: 50%;
            background-color: #fbc95b;
            pointer-events: none;
              z-index: -2 !important;


        }
        .lucivolanti img{
            position: absolute;
            transform: rotate(360deg);
            max-height: 10px;
            max-width: 10px;
        }

                
        @keyframes caduta{
            0% {
                top: 0%;
                opacity: 1;
                filter: brightness(0.7);
            }
            15%{
                transform: translate(40px);
            }
            25% {
                transform: translate(50px);
                filter: brightness(1);

            }
            50%{
                transform: translate(-60px);
                filter: brightness(1);
            }
            75%{
                transform: translate(60px);
            }
            90%{
                filter: brightness(100);
                transform: translate(80px);

            }
            100%{
                top: 100%;
                opacity: 0;
                transform: rotate(270deg);
                filter: brightness(1);
                transform: translate(20px);


            }
        }


  .fioreDecorativo{
    position: relative;
    left: 0%;
    top: -20%;
    pointer-events: none;
  }

  .fioreDecorativo .giglioBianco {
    position: absolute;
    top: -10%;
    left: -19%;
  }

    .fioreDecorativo .giglioBianco2 {
    position: absolute;
    top: 0%;
    right: -20%;
  }

 .giglioBianco3 {
    position: absolute;
    margin-top: -20%;
    right: -20%;
    transform: scaleX(-1);
    z-index: -1;

  }

  .fioreDecorativo img{
    width: 25%;
    min-height: fit-content;
  }








/*.testoMIPrincipale strong:hover{
    padding: 12% 6%;
    color: white !important;
    border-radius: 50%;
    background: radial-gradient(circle, #6153CC 0%, rgba(97, 83, 204, 0) 40%);
    z-index: 3;
    backdrop-filter: blur(100px);
    box-sizing: border-box;

} */



    /*PARTE DEDICATA AI TRE TEMI*/

    .section{
        background-color: #86cf74;
        height: 100%;
        width: 100%;
        display: flex;
    }
    
    .colonne{
        width:33.3%;
        margin:0%;
        object-fit: contain;
        padding-bottom: 3%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .InnImage{
        background-color: #1C1018;
    }

    #scritta{
        position: absolute;
        top:75%;
        left:35%;
        color: white;
    }
    .InnImage:hover{
        background-color: #0e070c;
    }
     #inColonne{
        width: 100%;
        height: 100%;
    }
    #inColonneVideo{
        width: 80%;
        height: 100%;
        margin-left: 10%;
    }

    .colonne .hoverImg {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
      }

      .colonne:hover .hoverImg {
        display: block;
      }

    /*spazi box*/
    #spazioIntroSx{
        width: 30%;
        padding: 4% 2% 0%;
        text-align: justify !important;
    }
    #spazioSinistra{
        margin-left: 2%;
        border-left: 2px solid #d9d9d9;
        width: 16%;
        padding: 4% 2% 0%;
        word-wrap: break-word;
        word-break: keep-all;
        text-align: left;
    }
    #spazioTsDx{
        width:48%;
        padding:4% 2% 0%;
        text-align: justify !important;
        hyphens: auto;
    }

    .elSingoloGenerico{
        width: 50%;
        margin: 2.5%;
    }

    /*colori box*/
    .bianco{ background-color: rgb(252, 252, 252);}
    .verdePetrolio{ 
    background-color: #42474A;
    color:white;
    }




/*Animazione che fa scomparire elementi lentamente

.fadeInDownSlow{
    -webkit-animation: fadeInDown 4s both;
    -moz-animation: fadeInDown 4s both;
    -o-animation: fadeInDown 4s both;
    animation: fadeInDown 4s both;
}
*/
.fondo{
    height: 20%;
    padding: 5%;
    background-color: #1C1018;
    color:#d0d0d0;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    position: relative;
    bottom: 0;
}

@keyframes compareDalBasso{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
} 

@media only screen and (max-width: 576px) {
   
.container{
   
            width: 90% !important;
            margin-left: 5%;
            margin-right: 2.5%;
            border-bottom: 1px inset #a89e66;
            margin-top: 5%;
            margin-bottom: 20%;
}

.parolaNome {
    margin-bottom: -20%;
    justify-content: flex-start;
}

.nav{
    width: 100%;
    font-size: 13px;
    height: 8vh !important;
    overflow-x: auto;
}
.nav2 {
    width: 80vh;
    justify-content: left;
    animation: SXaDX 8s ease 2s 2;
    transform: translate(10px);
    height: 8vh !important;
}

.nav-link {
    padding: 2% 2%;
}

.title {
    width: 70%;
    margin-top: 5%;
}

.title h3{ 
    position: relative; 
    float: left; 
    width: 80%;
    margin: 5%;
    margin-top: 30%;
    margin-left: 6%; 
    animation: compareDalBasso 3s ease-in;
    font-size: 36px;
    color: white; 
}

.containerMagInfo{
    margin: 3%;
}

 .spazioSXVuoto{
            width: 70%;
            margin-left: 0%;
        }

#cerchio {
    width: 300px;
    height: 300px;
}

.icona_fissa{
    position: fixed;
    background-color: #f2a705;
    bottom: 1%;
    right: 2%;
    padding: 4%;
    border-radius: 200px 200px 200px 200px;;
}

h1{
    margin-top: 70%;
    margin-bottom: 20%;
    font-size: 54px;
    font-weight: 500;
    flex-direction: column;
    align-items:center !important;
    gap: 0;
}

h1 span {
    display: inline-block;
    margin: 0;
    padding: 0;
}


h2{
    font-size: 36px;
}

.contenuti {
    min-height: fit-content;
    width: 80%;
    margin-bottom: 5%;
    position: relative;
}

.container #immagineCarat{
    height: 28%;
}

.anti-container h3 {
    padding: 0%;
    padding-bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

h3{
    font-size: 30px;
    text-align: left;
    padding: 10%;
    color: #2f3732;
}

    .fioreDecorativo{
        top:0%;
    }

    .fioreDecorativo img{
        width: 60%;
    }

        .fioreDecorativo .giglioBianco {
        left: -20%;
    }

        .fioreDecorativo .giglioBianco2 {
        right: -20%;
    }

        .fioreDecorativo .giglioBianco3 {
        right: -20%;
        margin-top: -160%;

    }

.categoria {
    font-size: 22px;
    padding-top: 20%;
}


.dettagli{
    margin-bottom: 10%;
        clip-path: polygon(0 0, 100% 0, 100% 50%);
}

.categoriaFont{
    font-size: 22px;
}

.parolaChiaveTitolo {
    font-size: 20px;
    font-weight: 500;
}

p{
    font-size: 22px;
}

.icona_chiusura{
    margin-top: 7%;
    margin-right: 5%;
    padding: 0%;  
}

.testoMIPrincipale, strong, .testoMagInfo, .testoMagInfoDestra{
    font-size: 18px;
    text-align: justify;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    word-break: normal !important;
    overflow-wrap: break-word;
    white-space: normal;
    padding-top: 10%;

}

ul{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.testoMIPrincipale .img img{
    float: none !important;
    width: 90% !important;
}

.testoMISecondario {
    word-break: normal !important;
    overflow-wrap: break-word;
    white-space: normal;
    padding-bottom: 10%;
    font-size: 18px;
}

.testoMISecondario .img img{
    float: none !important;
    width: 90% !important;
}

.distrOrizzontale{
    float: none;
    width: 100%;
    margin-right: 0%;
}


.img img{
    width: 100%;
    margin: -3%;
    padding: -3%;
}
.divisione {
    display: block;
    flex-direction: column;
}

.divisione2 {
    display: flex;
    flex-direction: row;
}
#spazioIntroSx {
    margin-right: 10%;
    width: 100% !important;
    word-break: keep-all;

}
#spazioSinistra{
    width: 95%;
}

#spazioTsDx {
    width: 95%;
    font-size: 18px !important;
    padding-bottom: 10%;
    margin-left: -1%;
}

#tsBreve{
    font-size: 18px;
    padding-top: 5%;
}

.imgDestra {
    width: 80% !important;
}

    .elSingoloGenerico{
        width: 95%;
        margin: 2.5%;
    }

.testoMagInfo, .testoMagInfoDestra{
    position: relative;
    float: none;
    width: 100%;
}


  }


@media screen and (min-width: 577px) and (max-width: 1024px)  {

        .container{
            width: 93% !important;
            margin-left: 2.5%;
            margin-right: 2.5%;
            border-bottom: 1px inset #a89e66;
            margin-bottom: 20%;
        }

        .container #immagineCarat{
            height: 50%;
        }

        .spazioSXVuoto{
            width: 85%;
            margin-left: 0%;
        }

        .contenuti {
            padding-bottom: 2%;
        }

        .parolaNome {
            margin-bottom: -20%;
            justify-content: flex-start;
        }

        .nav{
            width: 100%;
            font-size: 16px;
            height: 10% !important;
        }
        .nav2 {
            width: 90vh;
            justify-content: left;
            animation: SXaDX 8s ease 2s 3;
            transform: translate(10px);
            height: 10vh !important;
        }

        .nav::-webkit-scrollbar {
            display: none;      
            }



        .title h3{ 
            position: relative; 
            float: left; 
            width: 70%;
            margin: 5%;
            margin-top: 30%;
            margin-left: 10%; 
            animation: compareDalBasso 3s ease-in;
            font-size: 38px;
            color: white; 
        }

        .containerMagInfo{
            margin: 3%;
        }



        #cerchio {
            width: 300px;
            height: 300px;
        }

        h1{
            margin-top: 38%;
            width: 80%;
            font-size: 72px;
            flex-direction: column;
            align-items:center !important;
            gap: 0;
        }

        h1 span {
            display: inline-block;
            margin: 0;
            padding: 0;
        }


        h2{
            font-size: 40px;
        }

        .anti-container h3 {
            padding: 0%;
            padding-bottom: 10%;
            width: 100%;
            text-align: center;
            font-size: 48px;
        }

        h3{
            font-size: 30px;
            text-align: left;
            padding: 10%;
            color: #2f3732;
        }

            .fioreDecorativo{
                top:-30%;
            }

            .fioreDecorativo img{
                width: 25%;
            }

                .fioreDecorativo .giglioBianco {
                left: -17%;
            }

                .fioreDecorativo .giglioBianco2 {
                right: -20%;
            }

                .fioreDecorativo .giglioBianco3 {
                right: -20%;
                margin-top: -30%;

            }

        .categoria {
            font-size: 22px;
            padding-top: 15%;
            padding-bottom: 1%;
        }


        .dettagli{
            margin-bottom: 10%;
                clip-path: polygon(0 0, 100% 0, 100% 50%);
        }

        .categoriaFont{
            font-size: 22px;
        }

        .parolaChiaveTitolo {
            font-size: 20px;
            font-weight: 500;
        }

        p{
            font-size: 22px;
        }

        .icona_chiusura{
            margin-top: 0%;
            margin-right: 0%;
            padding: 1%;  
            position: relative !important;
        }

        .testoMIPrincipale, strong, .testoMagInfo, .testoMagInfoDestra{
            font-size: 18px;
            text-align: justify;
            width: 100%;
            margin-left: 0%;
            margin-right: 3%;
            word-break: normal !important;
            overflow-wrap: break-word;
            white-space: normal;
            padding-top: 10%;

        }

        .testoMIPrincipale .img img{
            float: none !important;
            width: 90% !important;
        }

        .testoMISecondario {
            word-break: normal !important;
            overflow-wrap: break-word;
            white-space: normal;
            padding-bottom: 10%;
            font-size: 18px;
        }

        .testoMISecondario .img img{
            float: none !important;
            width: 90% !important;
        }

        .distrOrizzontale{
            float: none;
            width: 100%;
            margin-right: 0%;
        }


        .img img{
            width: 100%;
            margin: -3%;
            padding: -3%;
        }
        .divisione {
        display: flex;
        flex-direction: row;
        }

        .divisione2 {
            display: flex;
            flex-direction: row;
        }

        #spazioIntroSx {
            margin-right: 10%;
            width: 100% !important;
            word-break: keep-all;

        }
        #spazioSinistra{
            width: 95%;
        }

        #spazioTsDx {
            width: 95%;
            font-size: 18px !important;
            padding-bottom: 10%;
            margin-left: -1%;
        }

        #tsBreve{
            font-size: 18px;
            padding-top: 5%;
        }

        .imgDestra {
            width: 80% !important;
        }

        .elSingoloGenerico{
            width: 95%;
            margin: 2.5%;
        }

        .testoMagInfo, .testoMagInfoDestra{
            position: relative;
            float: none;
            width: 100%;
        }

}

@media screen and (min-width: 1025px) and (max-width: 1281px) {
    h1{
            margin-top: -8%;
            width: 30%;
            font-size: 72px;
            flex-direction: column;
            align-items:center !important;
            gap: 0;
        }

     .fioreDecorativo{
    position: relative;
    left: 0%;
    top: -30%;
    pointer-events: none;
    }

    .fioreDecorativo img {
        width: 25%;
    }
    .nav-link {
        font-size: 18px;
    }

    .nav{
    width: 100%;
    font-size: 16px;
    height: 10vh !important;
    }   

    .nav2 {
        justify-content: left;
        animation: SXaDX 5s ease-in-out 2s 2;
        transform: translate(10px);
        width: 100%;
        height: 10vh;
    }

    .nav::-webkit-scrollbar {
                display: none;      
            }

         .divisione {
        display: flex;
        flex-direction: row;
        }

        .divisione2 {
            display: flex;
            flex-direction: row;
        }

     .spazioSXVuoto{
            width: 90%;
            margin-left: 0%;
        }
}